
<%= simple_form_for(@participant) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :event_hub %>
    <%= f.input :last_name %>
    <%= f.input :first_name %>
    <%= f.input :middle_name %>
    <%= f.input :birth_date %>
    <%= f.input :mobile_number %>
    <%= f.input :email %>
    <%= f.input :guest_type %>
    <%= f.input :attendance_channel %>
  </div>

  <div class="form-actions text-end">
    <%= link_to "Back", participants_path, class: "btn btn-secondary" %>
    <%= f.button :submit, class: "btn btn-success" %>
  </div>
<% end %>
