<div id="<%= dom_id participant %>">
  <p>
    <strong>Event hub:</strong>
    <%= participant.event_hub_id %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= participant.last_name %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= participant.first_name %>
  </p>

  <p>
    <strong>Middle name:</strong>
    <%= participant.middle_name %>
  </p>

  <p>
    <strong>Birth date:</strong>
    <%= participant.birth_date %>
  </p>

  <p>
    <strong>Mobile number:</strong>
    <%= participant.mobile_number %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= participant.email %>
  </p>

  <p>
    <strong>Guest type:</strong>
    <%= participant.guest_type %>
  </p>

  <p>
    <strong>Attendance channel:</strong>
    <%= participant.attendance_channel %>
  </p>

</div>
