<div class="card mb-3">
  <div class="card-header">
    <h2>Registration</h2>
  </div>
  <div class="card-body">
    <% #= render 'registrations/registration_guidelines' %>
    <% # To assist you on your registration, please click this video %>
    <% #= link_to "How to register", how_to_vote_registrations_path, class: "btn btn-warning btn-sm", data: { turbo_frame: "remote_modal" } %>
    <hr>
<%= simple_form_for @registration, url: registrations_path(q: params[:q]), method: :post do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="form-inputs mb-3">
    <div class="row mb-3">
      <%= f.input :last_name, label: "Last Name", wrapper_html: { class: "col-md-4" } %>
      <%= f.input :first_name, label: "First Name", wrapper_html: { class: "col-md-4" } %>
      <%= f.input :middle_name, label: "Middle Name", wrapper_html: { class: "col-md-4" } %>
    </div>
    <div class="row mb-3">
      <%= f.input :birth_date, label: "Birth Date", as: :string, wrapper_html: { class: "col-md-3" },
                               input_html: { data: { controller: "flatpickr",
                                                    flatpickr_max_date: Time.zone.now,
                                                    flatpickr_next_arrow: "Next",
                                                    flatpickr_prev_arrow: "Prev" } } %>
      <%= f.input :gender, collection: Registration::Gender, wrapper_html: { class: "col-md-3" } %>
      <%= f.input :mobile_number, placeholder: "+63", wrapper_html: { class: "col-md-3" } %>
      <%= f.input :email, placeholder: "user@domain.com", wrapper_html: { class: "col-md-3" } %>
    </div>
    <% if params[:q] == "notmodal" %>
      <%= f.association :event_hub, label: "Cooperative", wrapper_html: { class: "mb-3" }, input_html: { data: { controller: "ts--select" } } %>
    <% end %>
    <div data-controller="showhide" data-showhide-show-if-value="Accompanying Delegate">
      <div class="row">
        <div class="col-md-6">
          <% #= f.input :coop_tin, label: "Cooperative TIN", wrapper_html: { class: "col-md-3" } %>
          <div class="row">
            <%= f.input :attendance, collection: Registration::Attendance, wrapper_html: { class: "col-md-6" } %>
            <%= f.input :guest_type, collection: Registration::GuestType, input_html: { data: { showhide_target: "input", action: "change->showhide#toggle" } }, wrapper_html: { class: "col-md-6" } %>
          </div>
          <% #= f.input :size, collection: Registration::Size, label: "T-shirt Size", wrapper_html: { class: "col-md-3" } %>
          <% #= f.input :dietary, collection: Registration::Dietary, label: "Dietary Preference", wrapper_html: { class: "col-md-3" } %>
        </div>
        <div class="col-md-6">
          <div data-showhide-target="output">
            <div class="card">
              <div class="card-header">Attachments</div>
              <div class="card-body">
                <div data-showhide-target="board">
                  <h6>Board Resolution: </h6>
                  <%= f.file_field :board_reso %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="alert alert-warning mt-3" role="alert">
        <i class="bi bi-file-earmark-arrow-up"></i> Principal delegates are required to upload a scanned copy of their Board Resolution.  <br>
        <i class="bi bi-exclamation-square"></i> Only the Principal Delegate is authorized to vote.
      </div>
     
    </div>
  </div>
  <% #= @event_hub.cooperative %>
  <div class="form-actions text-end mt-3">
    <%= link_to "Back", root_path, class: "btn btn-secondary" %>
    <%= f.button :submit, class: "btn btn-success", value: "Register" %>
  </div>
<% end %>

</div>
</div>
