<%#= render 'registrations/guidelines' %>
<div class="card">
  <h4 class="card-header">Registration</h4>
  <div class="card-body">
    <%= simple_form_for @registration, url: registrations_path(q: params[:q]), method: :post do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
      <div class="form-inputs mb-3">
        <div class="row mb-3">
          <%= f.input :last_name,label: "Last Name", wrapper_html: { class: "col-md-4" } %>
          <%= f.input :first_name,label: "First Name", wrapper_html: { class: "col-md-4" } %>
          <%= f.input :middle_name,label: "Middle Initial", wrapper_html: { class: "col-md-4" } %>
          <%# <div class="form-check form-switch mt-3"> %>
            <%#= f.input :tentative, label: "Tentative delegate" %>
            <%# <div class="form-text">If you are unsure whether the participants will attend, please switch on the tentative.</div> %>
          <%# </div> %>
        </div>
        <div class="row mb-3">
          <%= f.input :birth_date, label: "Birth Date", as: :string, wrapper_html: { class: "col-md-3" }, 
      input_html: { data: { controller: "flatpickr",
      flatpickr_max_date: Time.zone.now,
      flatpickr_next_arrow: "Next",
      flatpickr_prev_arrow: "Prev" } } %>
          <%= f.input :gender, collection: Registration::Gender, wrapper_html: { class: "col-md-3" } %>
          <%= f.input :mobile_number, placeholder: "+63", wrapper_html: { class: "col-md-3" } %>
          <%= f.input :email, placeholder: 'user@domain.com', wrapper_html: { class: "col-md-3" } %>
          
        </div>
        <% if params[:q] == "notmodal" %>
          <%= f.association :event_hub, label: "Cooperative", wrapper_html: { class: "mb-3" }, input_html: { data: { controller: 'ts--select' } } %>
        <% end %>
        <div data-controller="showhide" data-showhide-show-if-value="Accompanying Delegate">
          <div class="row">
            <%= f.input :guest_type, collection: Registration::GuestType, wrapper_html: { class: "col-md-4" } %>
            <%= f.input :attendance, collection: Registration::Attendance, wrapper_html: { class: "col-md-4" } %> 
            <%#= f.input :coop_tin, label: "Cooperative TIN", wrapper_html: { class: "col-md-3" } %>
            <%#= f.input :guest_type, collection: Registration::GuestType, wrapper_html: { class: "col-md-3" }, input_html: { data: { showhide_target: "input", action: "change->showhide#toggle" } } %>
            <%#= f.input :attendance, collection: Registration::Attendance, wrapper_html: { class: "col-md-4" } %>
            <%#= f.input :size, collection: Registration::Size, label: "T-shirt Size", wrapper_html: { class: "col-md-3" } %>
            <%#= f.input :dietary, collection: Registration::Dietary, label: "Dietary Preference", wrapper_html: { class: "col-md-3" } %>
            <%# <div id="guesttype" class="form-text">Only the principal delegate are allowed to vote.</div> %>
          </div>
          <%# <div class="alert alert-warning" role="alert">
        <i class="bi bi-file-earmark-arrow-up"></i> Official delegate are required to upload their scanned image of their ID and Board resolution. <br>
        <i class="bi bi-exclamation-square"></i> Accompanying- excess of the first two free (2) representatives, with registration fee. <br>
        <i class="bi bi-exclamation-square"></i> Young coop leader must be 18 to 35 years of age <br>
        <i class="bi bi-exclamation-square"></i> If you are unsure about the attending participants, check the tentative delegate.
      </div> %>
          <%#= render 'registrations/attachment' %>
        </div>
      </div>
      <div class="form-actions text-end mb-4">
        <%= link_to "Back", root_path, class: "btn btn-secondary" %>
        <%= f.button :submit, class: "btn btn-success", value: "Register" %>
      </div>
    <% end %>
  </div>
</div>
<div class="text-center">
<%= image_tag 'cooptechlogo.png', width:'300', height:'150' %>
</div>
