<div id="<%= dom_id registration %>">
  <p>
    <strong>Cooperative:</strong>
    <%= registration.event_hub %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= registration.get_fullname %>
  </p>

  <p>
    <strong>Birth date:</strong>
    <%= registration.birth_date %>
  </p>

  <p>
    <strong>Mobile number:</strong>
    <%= registration.mobile_number %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= registration.email %>
  </p>

  <p>
    <strong>Guest type:</strong>
    <%= registration.guest_type %>
  </p>

  <p>
    <strong>Attendance:</strong>
    <%= registration.attendance %>
  </p>

</div>
