
<%#<div class="img-container">
</div>%>
    <%= image_tag '51st_agam.png', class: "img-header w-100" %>
<section class="py-5 container">
        
        <div class="row">
            <div class="col-md-6">
                <iframe 
                src="https://player.vimeo.com/video/1042209202?title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479&amp;dnt=1&amp;loop=1" 
                width="600" 
                height="338" 
                frameborder="0" 
                allow="autoplay; fullscreen; picture-in-picture; clipboard-write" 
                title="TEASER VIDEO-12_18_24"></iframe>
            </div>
            <div class="col-md-6">
                <h1 class="poppins-regular"><%= link_to 'Rise', coop_events_path, class: "text-dark" %> with Us</h1>
                <em>Discover how we continue to grow and thrive together, rooted in tradition and rising with vision. Join us for this year’s General Assembly and be part of a transformative journey. Let’s unite to:</em>
                <ul>
                    <li><strong class="text-primary">Reflect</strong> on our shared achievements.</li>
                    <li><strong class="text-primary">Inspire</strong> each other to greater heights.</li>
                    <li><strong class="text-primary">Secure</strong> a stronger future.</li>
                    <li><strong class="text-primary">Empower</strong> our community.</li>
                    
                </ul>
                <%= link_to 'Register', new_modal_registrations_path(q: "notmodal"), class: "btn btn-primary btn-sm" %> <em>now to connect, collaborate, and contribute to our shared vision for the future.</em>
            </div>
        </div>
        <%#<iframe src="https://player.vimeo.com/video/1042209202?h=e7b004f651&byline=0&portrait=0" width="600" height="338" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>%>
    
</section>
<section class="py-5 container">
    <div class="text-center">
        <h4>RISE: Reflect, Inspire, Secure, Empower - Rooted in Tradition, Rising with Vision.</h4>
        <br>
    </div>
    <div class="image-boxes">
        <div class="image-box">
            <%= image_tag 'img_box_1.png' %>
        </div>
        <div class="image-box">
            <%= image_tag 'img_box_2.png' %>
        </div>
        <div class="image-box">
            <%= image_tag 'img_box_3.png' %>
        </div>
    
    </div>
</section>
<section class="py-5 text-center bg-light mt-5">
    <div class="row py-lg-5">
        <div class="col-lg-8 col-md-8 mx-auto">
            <h3 class="fw-light">Cooperative Greetings!</h3>
            <p class="lead justify-text">In 2025, the 1 Cooperative Insurance System of the Philippines Life and General Insurance (1CISP) will be celebrating its 51st Annual General Assembly Meeting, with the theme: "RISE: Reflect, Inspire, Secure, Empower - Rooted in Tradition, Rising with Vision." In light of this, we are delighted to invite you to join us in celebrating this momentous occasion, which will take place on April 12, 2025, at the Grand Xing Imperial Hotel in Iloilo City.</p>
            <p class="lead justify-text">Further details about the agenda, registration process, and other event-related information will be shared with you in the coming weeks. In the meantime, we kindly ask that you mark your calendars for this important event.</p>
            <p class="lead justify-text">Thank you for your continued support. We are excited to welcome you to Iloilo City in April 2025!</p>
            <p>For the Board of Directors and Management,</p>
            <p>ROY S. MICLAT <br>President/CEO</p>
        </div>
    </div>
</section>


<section class="py-5 text-center" style="background-color: #1a2adb; color: white;>
    <div class="row py-lg-5">
        <h1 class="poppins-regular"><strong>A PROSPEROUS PHILIPPINES</strong></h1>
        <h1 class="poppins-regular"><strong>IS A COOPERATIVE PHILIPPINES</strong></h1>
        
    </div>
  </section>
