<div id="<%= dom_id candidate %>">
  <p>
    <strong>Event hub:</strong>
    <%= candidate.event_hub_id %>
  </p>

  <p>
    <strong>Elect position:</strong>
    <%= candidate.elect_position_id %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= candidate.last_name %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= candidate.first_name %>
  </p>

  <p>
    <strong>Middle name:</strong>
    <%= candidate.middle_name %>
  </p>

  <p>
    <strong>Suffix:</strong>
    <%= candidate.suffix %>
  </p>

  <p>
    <strong>Birth date:</strong>
    <%= candidate.birth_date %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= candidate.address %>
  </p>

  <p>
    <strong>Mobile number:</strong>
    <%= candidate.mobile_number %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= candidate.email %>
  </p>

  <p>
    <strong>Education:</strong>
    <%= candidate.education %>
  </p>

  <p>
    <strong>Company:</strong>
    <%= candidate.company %>
  </p>

  <p>
    <strong>Occupation:</strong>
    <%= candidate.occupation %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= candidate.status %>
  </p>

</div>
