<div id="<%= dom_id event_hub %>">
  <div class="card mb-5">
    <div class="row g-0">
      <div class="col-md-4">
        <%= image_tag '51_card.png', width:'100%', height:'100%', class: "img-fluid rounded-start" %>
        <%#= image_tag 'ocb_logo.png', width:'100%', height:'100%', class: "img-fluid rounded-start" %>
      </div>
      
      <div class="col-md-8">
        <div class="card-body">
          <div class="mb-3">
            <h4><%= event_hub.cooperative %></h4>
            <small class="text-primary">Please update your cooperative details <strong>
                <%= link_to '<i class="bi bi-pencil-square"></i> Update Details'.html_safe, edit_cooperative_path(event_hub.cooperative_id),   data: { turbo_frame: "remote_modal" } %> </strong> </small>
            <%# <%= link_to '<i class="bi bi-pencil-square"></i> Edit'.html_safe, edit_cooperative_path(event_hub.cooperative_id), {:style=>"color:#fff;"}, class: 'btn btn-outline-primary',   data: { turbo_frame: "remote_modal" } %>
          </div>
          
              <div class="row">
                <div class="col-sm-6">
                  <h5 class="text-primary">Registration</h5>
                </div>
                <div class="text-end col-sm-6">
                  <%= link_to '<i class="bi bi-plus-square"></i> Add Guest'.html_safe, new_registration_path(v: event_hub, q: ""), class: "btn btn-primary btn-sm mb-3", data: { turbo_frame: "remote_modal" } %>
                </div>
              </div>
              <%= render 'registrations/show_registration' %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
