<div id="<%= dom_id cooperative %>">
  <p>
    <strong>Name:</strong>
    <%= cooperative.name %>
  </p>

  <p>
    <strong>Geo region:</strong>
    <%= cooperative.geo_region_id %>
  </p>

  <p>
    <strong>Geo province:</strong>
    <%= cooperative.geo_province_id %>
  </p>

  <p>
    <strong>Geo municipality:</strong>
    <%= cooperative.geo_municipality_id %>
  </p>

  <p>
    <strong>Geo barangay:</strong>
    <%= cooperative.geo_barangay_id %>
  </p>

  <p>
    <strong>Street:</strong>
    <%= cooperative.street %>
  </p>

  <p>
    <strong>Tin:</strong>
    <%= cooperative.tin %>
  </p>

  <p>
    <strong>Registration no:</strong>
    <%= cooperative.registration_no %>
  </p>

  <p>
    <strong>Coop type:</strong>
    <%= cooperative.coop_type %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= cooperative.email %>
  </p>

  <p>
    <strong>Contact no:</strong>
    <%= cooperative.contact_no %>
  </p>

</div>
