<%= simple_form_for(@vote, url: url, method: meth) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="form-inputs">
    <%#= f.association :event_hub %>
    <%#= f.association :coop_event %>
    <%#= f.association :candidate %>
    <p>
      <strong>Candidate:</strong>
      <%= @vote.candidate %>
    </p>
     <p>
      <strong>Allowed vote:</strong>
      <%= to_curr(@vote.entry_vote) %>
    </p>
    <%= f.input :vote_amount %>
    <%#= f.input :entry_vote %>
    <%#= f.input :post %>
  </div>
  <div class="form-actions text-end">
    <%= link_to "Back", vote_event_hub_path(@event_hub, p: @vote.candidate.elect_position), class: "btn btn-secondary" %>
    <%= f.button :submit, class: "btn btn-success" %>
  </div>
<% end %>
