<div id="<%= dom_id vote %>">
  <p>
    <strong>Event hub:</strong>
    <%= vote.event_hub_id %>
  </p>

  <p>
    <strong>Coop event:</strong>
    <%= vote.coop_event_id %>
  </p>

  <p>
    <strong>Candidate:</strong>
    <%= vote.candidate_id %>
  </p>

  <p>
    <strong>Vote amount:</strong>
    <%= vote.vote_amount %>
  </p>

  <p>
    <strong>Vote entry:</strong>
    <%= vote.vote_entry %>
  </p>

  <p>
    <strong>Post:</strong>
    <%= vote.post %>
  </p>

</div>
